BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: Never

IndentAccessModifiers: false
AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: Empty

ReferenceAlignment: Left
